/** swiper ****************************************************************************************/
.swiper-pagination-bullet-active {
  background-color: #973131 !important;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
/** loader ****************************************************************************************/
.loader-wrapper {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.loader {
  border-top: 4px solid #973131 !important
}